Package: com.insanj.partialgrabbers
Name: PartialGrabbers
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate 
Version: 1.0
Architecture: iphoneos-arm
Description: Better Better Grabbers.
Maintainer: Julian Weiss <me@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks